debian/quenb-client
debian/*.log
debian/{files,docs}
debian/source
debian/files
debian/quenb-client.substvars
debian/stamp-makefile-install
debian/stamp-makefile-build
debian/quenb-client.postrm.debhelper
